.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.app-header .desktop-nav {
  flex: 1;
  display: none;
}
@media (min-width: 768px) {
  .app-header{
    padding: 10px 40px;
  }
  .app-header .app-mobile-menu{
    display: none;
  }
  .app-header .desktop-nav {
    flex: 1;
    display: block;
  }
}

@media (min-width: 1024px) {
    .app-header{
      padding: 28px 134px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #efefef;
    }
   
  }
  