@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.midle{
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;

}
.login-container {
  background-color: #ffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

.login-container .form h2 {
  text-align: center;
  /* margin: 0 0 10px; */
  padding: 10px;
}

.login-container .form {
  padding: 30px 40px;
}

.login-container  .form-control {
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}
.login-container  .form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
.login-container  .form-control input:focus {
  outline: 0;
  border-color: #777;
}

.login-container  .form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: white;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  margin-top: 20px;
}
.login-container  .form-control small{
  position: absolute;
  bottom: -15px;
  color: #e74c3c;
}

.pageLink{
  background-color: blue;
  height: 20px;
  width: 300px;
  text-align: center;
  margin-left: 300px;
  margin-top: -180px;
  color: #f0f0f0;
}